* {
    margin: 0;
    font-family: "Open Sans", sans-serif;
  }
  
.background {
    background-image: url(../img/img9.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    width: 100%;
    max-width: 100%;
    height: 68vh;
}

.container {
    padding: 10;
    margin-top: -2%;
}

.texto h2 {
    color: black;
    text-align: left;
    font-family: montserrat;
    font-variant:normal;
}

.txt {
    margin: 16px;
}

.texto {
    padding-left: 3vw;
    padding-right: 3vw;
    margin-top: 5%;
    margin-right: 50%;
    float: right; 
    text-align: justify;
    font-variant:normal;
    font-size: 1.7vw;
}


.foto1 {
    padding: 5%;
    margin-top: 1%;
    margin-left: 50%;
    float: right; 
    position: absolute;
}

.foto1 img {
    width: 100%;
}
